body {
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    background-image: url('./cow1.jpg'); 
    background-size: cover;
    background-position: center;
     
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-scroll-container {
    max-height: 80vh; /* Set a maximum height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; 

}

.form-container {
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    border: 2px solid #000000;
    background-color: rgba(0, 0, 0, 0);  
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid #000000;
      border-radius: 5px;
      background-color:rgb(211, 0, 0,0);
}
.go-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}