<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="css/login1.css">
</head>
<body>
    


    <form action="/resetPassword" method="post" class="form">
    <h1>Reset Password</h1>
       <input placeholder="Varification Code" name="vcode" type="text"class="box">
        <br <in>
        <input placeholder="Password" name="password" type="password"class="box">
        <br <in>
       <input placeholder="Reenter Password" name="Rpassword" type="password"class="box">
        <br>
        <input class="sub" type="submit">

       
         <a href="../login/index.html">Go back to login page</a>
    </form>

      

</body>
</html>
