<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="css/forgotpass.css">
</head>
<body>
    <div>
        <form action="/forgotPassword" method="post" class="form">
            <h1>Forgot Password</h1>
        <input placeholder="Enter your email" name="email" type="text" class="box">
            <p>Enter your registered email id. We will send you a varification code to reset the password.</h1>
            <br>   
                <input class="sub" type="submit" value="Next">
            <br>
                <button class="button"><a href="/">Go back to login page</a></button>
        
        </form>
    </div>
</body>
</html> 