<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cowboy Bebop Professional Website</title>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div >
                        
            <form action="/login" method="post" class="form">
                <h1>Sign In</h1>
                    <input placeholder="Email" name="email" type="text"class="box">
                <br>
                    <input placeholder="Password" name="password" type="password"class="box">
                <br>
                    <input class="sub" type="submit">
                <br>
                    <button class="button"><a href="/signup">New Cowboy</a></button>
                <br>
                    <button class="button"> <a href="/forgotPassword"> Forgot Password</a></button>

            </form>
                                    
        </div>
    </body>
</html>