<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cowboy Bebop Professional Website</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="navbar-left">
        <a href="index.html" class="logo"><img src="images/logo.png"></a>
         
        
             <section>
        <div class="container">
            <div id="scene">
                <div class="layer" id="parallax-layer">
                </div>
            </div>
            <div class="login">
                <h2>Sign In</h2>
                <div class="inputBox">
                    <input type="text" placeholder="Username">
                </div>
                <div class="inputBox">
                    <input type="password" placeholder="Password">
                </div>
                <div class="inputBox">
                    <input type="submit" value="Login" id="btn">
                </div>
                <div class="group">
                    <button class="signupButton"> <a href="/forgotPassword"> Forgot Password</a></button>
                   <button ><a href="/signup">New Cowboy</a></button>
                     
                </div>
            </div>
        </div>
    </section>

    
       
</body>
</html>
